<!DOCTYPE html>
<html>
<head>
	<title>CompanyQuery</title>
</head>
<body>
  <% for(let i=0; i<result.length; i++) { %>
    <div class="resultRow"><%= JSON.stringify(result[i]) %></div>
  <% } %>
</body>
</html>